<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="jar_pkuPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>dao.JarDevice</class>
    <class>dao.JarIpAddres</class>
    <class>dao.JarHub</class>
    <class>dao.VLogin</class>
    <class>dao.VJarDevice</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://192.168.0.251:3306/simulasi?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="pko"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="pk0_2013"/>
    </properties>
  </persistence-unit>
</persistence>
